.article__container {
  height: 18vh;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 35px rgba(69, 96, 136, 0.07);
  padding-top: 20px;
  position: relative;
  text-align: left;
}

.article__title {
  font-family: "Ubuntu", sans-serif;
  color: #4a68eb;
  font-weight: bold;
  font-size: 125%;
  margin-left: 0%;
}

.article__title:hover {
  cursor: pointer;
}

.article__sentiment, .article__timestamp, .article__modal--title, .article__modal--timestamp, .article__modal--sentiment {
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}

.article__timestamp {
  font-weight: bold;
  margin-left: -5%;
}

.article__secondRow {
  width: 95%;
  margin: 0 auto;
  margin-top: 4%;
  position: absolute;
  bottom: 16%; 
}

.article__modal--title {
  color: #4a68eb;
  font-size: 200%;
  margin-bottom: 4%;
}

.article__modal--description {
  font-family: "Ubuntu", sans-serif;
  margin-top: 2%;
}

.article__modal--sentiment, .article__modal--timestamp {
  display: inline-block;
}

.article__modal--sentiment {
  margin-left: 2%;
}

.article__modal--highlight {
  background-color: rgb(200, 208, 253);
}

.ant-modal-content {
  border-radius: 30px;
  padding: 16px;
}
