.App {
  text-align: center;
  background-color:rgb(242, 247, 255);
  height: 100vh;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.App__stockTitle, .App__listTitle, .App__newsTitle {
  font-family: "Ubuntu", sans-serif;
  text-align: left;
  margin-left: 2%;
  font-weight: bold;
  font-size: 200%;
}

.App__newsTitle {
  margin-top: 2%;
}
