.search__container {
  padding-top: 2%;
  padding-bottom: 1%;
}

.ant-input {
  border: none;
  outline: none;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(124, 156, 202, 0.25);
  border-radius: 30px;
  font-family: 'Ubuntu', sans-serif;
}

.search__submit {
  border-radius: 15px;
  font-family: 'Ubuntu', sans-serif;
  letter-spacing: 4px;
  font-weight: bold;
  font-size: 80%;
}

.search__submit:hover {
  box-shadow: 0px 0px 10px #4963EF;
}